@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Poppins";

    &:focus{
        outline: none;
    }
}

body{
    background-color: #DEE4E7;
}

.dark{
    background-color: black;
}